# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pandas as pd

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
city_data = "../WeatherPy/city_weather.csv"
data_file = pd.read_csv(city_data)
data_file

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Arraial do Cabo,-22.97,-42.03,70.45,93,100,26.60,BR,1603583028
1,Dunedin,-45.87,170.50,71.01,41,100,13.00,NZ,1603582913
2,Zhoucheng,35.91,116.31,53.65,47,75,9.33,CN,1603583028
3,Cherskiy,68.75,161.30,18.36,94,4,4.68,RU,1603582826
4,Jamestown,42.10,-79.24,41.00,69,90,5.82,US,1603583029
...,...,...,...,...,...,...,...,...,...
578,Amga,60.90,131.96,12.42,95,71,2.01,RU,1603583135
579,Flagstaff,35.20,-111.65,64.99,33,1,18.34,US,1603583044
580,Taksimo,56.34,114.88,22.53,93,92,0.85,RU,1603582975
581,Āsmār,35.03,71.36,58.86,41,100,9.57,AF,1603583136
582,Pasni,25.26,63.47,74.43,33,0,28.21,PK,1603583136

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key='testing')

fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure